# Xcode
DerivedData/
build/
*.xcworkspace
xcuserdata/

# SwiftPM
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# macOS
.DS_Store

*.xcconfig

GoogleService-Info.plist

Athena_en_ios_v3_0_0.ppn

Info.plist
