# Xcode
DerivedData/
build/
*.xcworkspace
xcuserdata/

# SwiftPM
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# macOS
.DS_Store

